.wrapper {
	margin: 50px auto;
	max-width: 800px;
	padding: 20px;
}

.header {
	padding: 30px 0;
	border-bottom: solid;
}

.content {
	float: right;
	width: 75%;
	border-left: solid;
	padding-left: 30px;
	font-family: palatino;
	font-size: 15px;
	text-align: justify;
}

nav {
	float: left;
	width: 15%;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

h2{
	 text-align: center; 
	 text-decoration: underline; 
	 font-family: sans-serif;
	 font-size: 19px;
}

h1{
	 text-align: justify; 
	 font-family: sans-serif;
	 font-size: 24px;
}